/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "jobs.scss";

//---------Navbar---------

.form-group {
    margin: 10px 2px 10px 2px;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    width: 300px; //加上width
}

.navbar-brand > img {
    display: inline-block; //圖片和鏈接文字顯示在同一行
    margin-right: 10px; //圖片和鏈接文字拉開一點距離
    width: 30px; //定製圖片寬度
    height: 30px; //定製圖片高度
}

.navbar-default {
    background-color: #233140;
    border-color: #233140;
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-default .navbar-brand {
    font-size: 25px;
    font-family: Arial Black;
    color: #EF6C00;
    padding: 10px 15px;
    line-height: 30px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #FF6F00;
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
    color: #EF6C00;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #FF6F00;
    background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #FF6F00;
    background-color: #FFE0B2;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    background-color: #FFE0B2;
    color: #212121;
}

//---------Cover---------

.jumbotron {
    background-image: url("http://i.imgur.com/TCevdIZ.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 110px;
}

.container-fluid .jumbotron{
    padding-bottom: 100px;
    margin: 0 -15px 20px;
    border-radius: 0;
}

.title {
    font-family: Arial;
    background-color: rgba(250, 250, 250, 0.39);//背景顏色含透明度
    max-width: 700px;//最大寬度
    margin-top: 200px;//和頂部拉開距離
    margin-bottom: 0;//這樣就可以緊接息面的描述文字
    border-top-right-radius: 3px;//右上角圓邊
    border-top-left-radius: 3px;//左上角圓邊
}

.jumbotron h1, .jumbotron .h1 {
    font-family: Arial Black;
    text-align: justify;
    color: #EEEEEE; //字體顏色
    padding: 50px 20px 0;//上50px，左右20px，下0
}

.jumbotron p {
    font-family: Arial;
    margin: 0;//上下左右margin為0
    font-size: 24px;//字體大小
    max-width: 700px;//最大寬度
    background-color: rgba(250, 250, 250, 0.39);//背景顏色含透明度
    padding: 20px;//上下左右padding為20px
    text-align:justify;
    color: #EEEEEE;//字體顏色
    border-bottom-right-radius: 3px;//右下角圓邊
    border-bottom-left-radius: 3px;//左下角圓邊
}

.btn-danger {
    color: #fff;//字體顏色
    background-color: #EF6C00;//背景顏色
    border-color: #EF6C00;//邊框顏色
}

.btn-danger:hover {
    background-color: #E65100;//鼠標放置在btn上的背景顏色
    border-color: #E65100;//鼠標放置在btn上的邊框顏色
}

.btn-lg, .btn-group-lg > .btn {
    padding: 8px 16px;//通過padding來決定btn的大小
    font-size: 20px;//btn文字大小
    letter-spacing: 1px;//調整文字間距
    border-radius: 3px;//btn圓角
    width: 200px;//這裡用指定寬度把btn拉得更長
}

//---------Features---------
.caption {
  margin: 30px;
  text-align: center;
  top: 20px;
}

.thumbnail {
    border: 0 none;
    box-shadow: none;
    margin-top: 60px;
}

  .img-thumbnail {
    border: 0 none;
    width: 150px; //定製圖片寬度
    height: 150px; //定製圖片高度
}

.content-section-a {
    text-align: center;
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    text-align: center;
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.section-heading {
    font-family: Arial Black;
    margin-bottom: 15px;
}

.lead {
    font-family: Hectiva;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

hr {
    margin-top: 3em;
    margin-bottom: 3em;
}

//---------Testomonial---------
#testimony {
  padding: 5rem 0 5rem 0;
  text-align: center;
  position: relative;

  .title {
    font-size: 2.5rem;
    color: black;
    margin: 0;
    padding-bottom: 2rem;
  }

  .testimony p {
    text-align: justify;
    font-style: italic;
    margin-top: 2em;
    margin-bottom: 1em;
  }

  .testimony {
    width: 22.75%;
    display: inline-block;
    margin: 0 1% 0;
    padding: 2.5rem 1.5%;
    text-align: center;
    -webkit-box-shadow: 0px 0px 57px 0px rgba(4,6,9,0.25);
    -moz-box-shadow: 0px 0px 57px 0px rgba(4,6,9,0.25);
    box-shadow: 0px 0px 57px 0px rgba(4,6,9,0.25);
    border-radius: .35rem;

    img {
      max-width: 140px;
      border-radius: 80%;
    }
  }

  .button_wrapper {
    text-align: center;
    margin: 4rem 0;
    display: inline-block;
  }
}

//---------Company List---------
.content-section-c {
    text-align: center;
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.logo {
    margin: 10px;
}

.logo-mini {
    margin: 10px;
    padding: 10px
}

//---------Footer---------
footer {
    color: white;
}

footer .space {
    margin-top: 5em;

}

footer .footer-below {
    padding: 25px 0;
    background-color: #233140;
}

/* footer social icons */
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}

/* footer social icons */
.social-network a.icoRss:hover {
	background-color: #ff8a80;
}
.social-network a.icoVote:hover {
	background-color:#29B6F6;
}
.social-network a.icoGitHub:hover {
	background-color:#90A4AE;
}
.social-network a.icoRss:hover i, .social-network a.icoVote:hover i,
.social-network a.icoGitHub:hover i {
	color:#fff;
}

a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

//---------login & signup popup modal---------

.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-help{
  font-size: 12px;
}
