// Place all the styles related to the fields controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#fields {
    margin: 10em;
    text-align: center;
    position: relative;

    .title{
      color: black;

    }

    .block{
      margin-bottom: 10em;

    }

    .p{
      width: 1rem;
    }

    .caption{

    }

    img .category{


    }


}
