// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.custab{
    border: 1px solid #ccc;

    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;

    transition: 0.5s;
}

.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
}

//---------job search---------

//no search result
.search-error{
    text-align: center;
    min-height: 310px;
    margin-top: 250px;
    margin-bottom: 30px;
}

.search-results{
    text-align: center;
    min-height: 525px;
    margin-top: 30px;
    margin-bottom: 30px;
}

//---------job index---------
#job-section {

    padding: 0.5rem 0 0.5rem 0;
    text-align: center;
    position: relative;

    .title {
      width: 40rem;
      font-size: 2rem;
      text-align: left;
      color: black;
      margin: 0;
      padding: 0em 2em 0em 1em;
      padding-bottom: 0.5rem;
    }

    .job-section p {
      width: 40rem;
      text-align: justify;
      padding: 0em 0em 0em 1.4em;
      margin-bottom: 1em;
    }

    .job-section {
      background-color: #f8f8f8;
      display: inline-block;
      margin: 0 1% 0;
      padding: 2rem;
      -moz-box-shadow: 0px 0px 57px 0px rgba(4,6,9,0.25);
      box-shadow: 0px 0px 3px 0px rgba(4,6,9,0.25);
      border-radius: .35rem;
    }

    .icon{
      padding-left: 1em;
    }

    .job-logo{
      margin: 10px;
      border-radius: 80%;
    }

    .button{
      margin-top: 45px;
      vertical-align: middle;
    }
  }

  //---------job info---------
  #job-info {

    padding: 5em;
    text-align: center;
    position: relative;

    .job-title {
      font-family: Arial Black;
      font-size: 3rem;
      padding: 1em 0em 0.5em 0em;
    }

    .details {
      font-size: 1.5rem;
      padding: 0.5em 0em 0.5em 0em;
    }

    .job-info {
      background-color: #f8f8f8;
      display: inline-block;
      margin: 0 1% 0;
      padding: 2rem;
      -moz-box-shadow: 0px 0px 57px 0px rgba(4,6,9,0.25);
      box-shadow: 0px 0px 3px 0px rgba(4,6,9,0.25);
      border-radius: .35rem;
    }

    .icon{
      padding-left: 1em;
    }

    .job-logo{
      margin: 10px;
      border-radius: 80%;
    }

    .button{
      margin: 50px 0px 50px 0px;
      vertical-align: middle;
    }
}
