// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.custab{
    border: 1px solid #ccc;

    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;

    transition: 0.5s;
}

.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
}
