// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.custab{
    border: 1px solid #ccc;

    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;

    transition: 0.5s;
}

.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
}



//---------job section---------
#job-section {

  padding: 0.5rem 0 0.5rem 0;
  text-align: center;
  position: relative;

  .title {
    width: 40rem;
    font-size: 2rem;
    text-align: left;
    color: black;
    margin: 0;
    padding: 0em 2em 0em 1em;
    padding-bottom: 0.5rem;
  }

  .job-section p {
    width: 40rem;
    text-align: justify;
    padding: 0em 2em 0em 1em;
    margin-bottom: 1em;
  }

  .job-section {
    background-color: #f8f8f8;
    display: inline-block;
    margin: 0 1% 0;
    padding: 2rem 1.5%;
    text-align: center;
    -moz-box-shadow: 0px 0px 57px 0px rgba(4,6,9,0.25);
    box-shadow: 0px 0px 2px 0px rgba(4,6,9,0.25);
    border-radius: .35rem;
  }

  .icon{
    padding-left: 1em;
  }

  .job-logo{
    margin-top: 0.5em;
  }
}
